/**
 * @name Athena-Theme
 * @author CloveTwilight3
 * @version 1
 * @description Athena's custom theme based on ClearVision v7.
 */
 
/* IMPORT CSS */
@import url("https://clearvision.github.io/ClearVision-v7/main.css");
@import url("https://clearvision.github.io/ClearVision-v7/vencord.css");

/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #003f5c;
  --hover-color: #002c42;
  --success-color: #43b581;
  --danger-color: #982929;
  
  /* STATUS COLORS */
  --online-color: #43b581;
  --idle-color: #faa61a;
  --dnd-color: #982929;
  --streaming-color: #593695;
  --offline-color: #808080;

  /* APP BACKGROUND */
  --background-shading-percent: 100%;
  --background-image: url(https://github.com/CloveTwilight3/CloveTwilight3-Files/blob/master/Wallpapers/Athena.jpg?raw=true);
  --background-position: center; 
  --background-size: cover; 
  --background-attachment: fixed; 
  --background-filter: saturate(calc(var(--saturation-factor, 1) * 1)); 

  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image); 
  --user-popout-position: var(--background-position);
  --user-popout-size: var(--background-size); 
  --user-popout-attachment: var(--background-attachment);
  --user-popout-filter: var(--background-filter);
  
  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image); 
  --user-modal-position: var(--background-position); 
  --user-modal-size: var(--background-size); 
  --user-modal-attachment: var(--background-attachment); 
  --user-modal-filter: var(--background-filter); 
  
  /* HOME ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  --home-size: cover; 
  
  /* FONTS */
  --main-font: "gg sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --code-font: Consolas, "gg mono", "Liberation Mono", Menlo, Courier, monospace;
  
  /* CHANNEL COLORS */
  --channel-normal: var(--interactive-normal); 
  --channel-muted: var(--interactive-muted); 
  --channel-hover: var(--interactive-hover); 
  --channel-selected: var(--interactive-active); 
  --channel-selected-bg: var(--main-color); 
  --channel-unread: var(--main-color);
  --channel-unread-hover: var(--hover-color);
  
  /* ACCESSIBILITY */
  --focus-color: var(--main-color);
}

/* THEME SPECIFIC SHADING */
/* LIGHT THEME */
:is(.theme-light, .theme-dark .theme-light) {
  --background-shading: rgba(252, 252, 252, 0.3); 
  --card-shading: rgba(252, 252, 252, 0.3); 
  --popout-shading: rgba(252, 252, 252, 0.7); 
  --modal-shading: rgba(252, 252, 252, 0.5); 
  --input-shading: rgba(0, 0, 0, 0.3); 
  --normal-text: #36363c; 
  --muted-text: #75757e; 
}

/* ASH THEME */
:is(.theme-dark, .theme-light .theme-dark) {
  --background-shading: rgba(0, 0, 0, 0.4);
  --card-shading: rgba(0, 0, 0, 0.2); 
  --popout-shading: rgba(0, 0, 0, 0.6);
  --modal-shading: rgba(0, 0, 0, 0.4); 
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #d8d8db;
  --muted-text: #aeaeb4; 
}

/* DARK THEME */
:is(.theme-darker, .theme-light .theme-darker) {
  --background-shading: rgba(0, 0, 0, 0.6); 
  --card-shading: rgba(0, 0, 0, 0.3); 
  --popout-shading: rgba(0, 0, 0, 0.7); 
  --modal-shading: rgba(0, 0, 0, 0.5); 
  --input-shading: rgba(255, 255, 255, 0.05); 
  --normal-text: #fbfbfb; 
  --muted-text: #94949c;
}

/* ONYX THEME */
:is(.theme-midnight, .theme-light .theme-midnight) {
  --background-shading: rgba(0, 0, 0, 0.8);
  --card-shading: rgba(0, 0, 0, 0.4); 
  --popout-shading: rgba(0, 0, 0, 0.8);
  --modal-shading: rgba(0, 0, 0, 0.6); 
  --input-shading: rgba(255, 255, 255, 0.05);
  --normal-text: #dcdcde;
  --muted-text: #86868e;
}

/* ADD ADDITIONAL CSS BELOW HERE */